<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pallets</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Pallet List
    </ion-list-header>

    <ion-item detail *ngFor = "let pallet of pallets;" (click)="onStockPallet(pallet)">
      {{pallet.sscc}}<div class="dot" *ngIf="pallet.stocks && pallet.stocks.length > 0"></div>
    </ion-item>
  </ion-list>
</ion-content>
