<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--<ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>-->
    <ion-title>Pallets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Pallet List
    </ion-list-header>

    <ion-item detail *ngFor = "let pallet of pallets;" (click)="onStockPallet(pallet)">
      <ion-label>{{pallet.sscc}}</ion-label>
      <ion-badge slot="end" *ngIf="pallet.stocks && pallet.stocks.length > 0">{{pallet.stocks.length}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
